<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">About
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="https://obscure-bayou-17895.herokuapp.com/" target="_blank">PEDDI TARAKA RAVITEJA</a></li>
      <li><a href="https://shielded-woodland-82405.herokuapp.com/"target="_blank">DURGA PRASAD</a></li>
      <li><a href="https://protected-ravine-47043.herokuapp.com/index"target="_blank">SRIKANTH YELLAMATI</a></li>
    </li>