<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <h1>E-COMMERCE BUSINESS</h1>
      <br />
      <br />
      <h4>GET a view</h4>
      <ol>
        <li>
          <a href="https://e-commercbu.herokuapp.com/customer">https://e-commercbu.herokuapp.com/customer</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/order">https://e-commercbu.herokuapp.com/order</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/orderLineItem">https://e-commercbu.herokuapp.com/orderLineItem</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/product">https://e-commercbu.herokuapp.com/product</a>
        </li>
      </ol>
      <br />
      <h4>GET JSON Customer</h4>
      <ol>

        <li>
          <a href="https://e-commercbu.herokuapp.com/customer/findall">https://e-commercbu.herokuapp.com/customer/findall</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/customer/findone/1">https://e-commercbu.herokuapp.com/customer/findone/1</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/customer/findone/2">https://e-commercbu.herokuapp.com/customer/findone/2</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/customer/findone/3">https://e-commercbu.herokuapp.com/customer/findone/3</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/customer/findone/4">https://e-commercbu.herokuapp.com/customer/findone/4</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/customer/findone/5">https://e-commercbu.herokuapp.com/customer/findone/5</a>
        </li>



      </ol>
      <h4>GET JSON Order</h4>
      <ol>

        <li>
          <a href="https://e-commercbu.herokuapp.com/order/findall">https://e-commercbu.herokuapp.com/order/findall</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/order/findone/1">https://e-commercbu.herokuapp.com/order/findone/1</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/order/findone/2">https://e-commercbu.herokuapp.com/order/findone/2</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/order/findone/3">https://e-commercbu.herokuapp.com/order/findone/3</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/order/findone/4">https://e-commercbu.herokuapp.com/order/findone/4</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/order/findone/5">https://e-commercbu.herokuapp.com/order/findone/5</a>
        </li>

      </ol>
      <h4>GET JSON orderLineItem</h4>
      <ol>

        <li>
          <a href="https://e-commercbu.herokuapp.com/orderLineItem/findall">https://e-commercbu.herokuapp.com/orderLineItem/findall</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/orderLineItem/findone/1">https://e-commercbu.herokuapp.com/orderLineItem/findone/1</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/orderLineItem/findone/2">https://e-commercbu.herokuapp.com/orderLineItem/findone/2</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/orderLineItem/findone/3">https://e-commercbu.herokuapp.com/orderLineItem/findone/3</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/orderLineItem/findone/4">https://e-commercbu.herokuapp.com/orderLineItem/findone/4</a>
        </li>
       <li>
          <a href="https://e-commercbu.herokuapp.com/orderLineItem/findone/5">https://e-commercbu.herokuapp.com/orderLineItem/findone/5</a>
        </li>

      </ol>
      <h4>GET JSON Product</h4>
      <ol>

        <li>
          <a href="https://e-commercbu.herokuapp.com/product/findall">https://e-commercbu.herokuapp.com/product/findall</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/product/findone/1">https://e-commercbu.herokuapp.com/product/findone/1</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/product/findone/2">https://e-commercbu.herokuapp.com/product/findone/2</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/product/findone/3">https://e-commercbu.herokuapp.com/product/findone/3</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/product/findone/4">https://e-commercbu.herokuapp.com/product/findone/4</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/product/findone/5">https://e-commercbu.herokuapp.com/product/findone/5</a>
        </li>

      </ol>
      <br />
      <h4>CREATE CUSTOMER,ORDER,orderLineItemITEM,PRODUCT</h4>
      <ol>
        <li>
          <a href="https://e-commercbu.herokuapp.com/customer/create">https://e-commercbu.herokuapp.com/customer/create</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/order/create">https://e-commercbu.herokuapp.com/order/create</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/orderLineItem/create">https://e-commercbu.herokuapp.com/orderLineItemItem/create</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/product/create">https://e-commercbu.herokuapp.com/product/create</a>
        </li>


      </ol>
      <br />
      <h4>EDIT CUSTOMER,ORDER,orderLineItem,PRODUCT</h4>
      <ol>
        <li>
          <a href="https://e-commercbu.herokuapp.com/customer/edit/1">https://e-commercbu.herokuapp.com/customer/edit/1</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/customer/edit/2">https://e-commercbu.herokuapp.com/customer/edit/2</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/customer/edit/3">https://e-commercbu.herokuapp.com/customer/edit/3</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/customer/edit/4">https://e-commercbu.herokuapp.com/customer/edit/4</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/customer/edit/5">https://e-commercbu.herokuapp.com/customer/edit/5</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/order/edit/1">https://e-commercbu.herokuapp.com/order/edit/1</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/order/edit/2">https://e-commercbu.herokuapp.com/order/edit/2</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/order/edit/2">https://e-commercbu.herokuapp.com/order/edit/2</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/order/edit/3">https://e-commercbu.herokuapp.com/order/edit/3</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/order/edit/4">https://e-commercbu.herokuapp.com/order/edit/4</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/order/edit/5">https://e-commercbu.herokuapp.com/order/edit/5</a>
        </li>
         <li>
          <a href="https://e-commercbu.herokuapp.com/orderLineItem/edit/1">https://e-commercbu.herokuapp.com/orderLineItem/edit/1</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/orderLineItem/edit/2">https://e-commercbu.herokuapp.com/orderLineItem/edit/2</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/orderLineItem/edit/3">https://e-commercbu.herokuapp.com/orderLineItem/edit/3</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/orderLineItem/edit/4">https://e-commercbu.herokuapp.com/orderLineItem/edit/4</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/orderLineItem/edit/5">https://e-commercbu.herokuapp.com/orderLineItem/edit/5</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/product/edit/1">https://e-commercbu.herokuapp.com/product/edit/1</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/product/edit/2">https://e-commercbu.herokuapp.com/product/edit/2</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/product/edit/3">https://e-commercbu.herokuapp.com/product/edit/3</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/product/edit/4">https://e-commercbu.herokuapp.com/product/edit/4</a>
        </li>
        <li>
          <a href="https://e-commercbu.herokuapp.com/product/edit/5">https://e-commercbu.herokuapp.com/product/edit/5</a>
        </li>
      </ol>
      <br />
      <h4>DELETE FOR CUSTOMER,ORDER,orderLineItem,PRODUCT</h4>
      <li>
        <a href="https://e-commercbu.herokuapp.com/customer/delete/1">https://e-commercbu.herokuapp.com/customer/delete/1</a>
      </li>  
      <li>
        <a href="https://e-commercbu.herokuapp.com/customer/delete/2">https://e-commercbu.herokuapp.com/customer/delete/2</a>
      </li>    
      <li>
        <a href="https://e-commercbu.herokuapp.com/customer/delete/3">https://e-commercbu.herokuapp.com/customer/delete/3</a>
      </li>     
      <li>
        <a href="https://e-commercbu.herokuapp.com/customer/delete/4">https://e-commercbu.herokuapp.com/customer/delete/4</a>
      </li>  
      <li>
        <a href="https://e-commercbu.herokuapp.com/customer/delete/5">https://e-commercbu.herokuapp.com/customer/delete/5</a>
      </li>  
      <li>
        <a href="https://e-commercbu.herokuapp.com/order/delete/1">https://e-commercbu.herokuapp.com/order/delete/1</a> 
      </li>  
      <li>
        <a href="https://e-commercbu.herokuapp.com/order/delete/2">https://e-commercbu.herokuapp.com/order/delete/2</a> 
      </li>  
      <li>
        <a href="https://e-commercbu.herokuapp.com/order/delete/3">https://e-commercbu.herokuapp.com/order/delete/3</a> 
      </li> 
      <li>
        <a href="https://e-commercbu.herokuapp.com/order/delete/4">https://e-commercbu.herokuapp.com/order/delete/4</a> 
      </li> 
       <li>
        <a href="https://e-commercbu.herokuapp.com/order/delete/5">https://e-commercbu.herokuapp.com/order/delete/5</a> 
      </li> 
      <li>
        <a href="https://e-commercbu.herokuapp.com/orderLineItem/delete/1">https://e-commercbu.herokuapp.com/orderLineItem/delete/1</a> 
      </li> 
      <li>
        <a href="https://e-commercbu.herokuapp.com/orderLineItem/delete/2">https://e-commercbu.herokuapp.com/orderLineItem/delete/2</a> 
      </li>
      <li>
        <a href="https://e-commercbu.herokuapp.com/orderLineItem/delete/3">https://e-commercbu.herokuapp.com/orderLineItem/delete/3</a> 
      </li>
      <li>
        <a href="https://e-commercbu.herokuapp.com/orderLineItem/delete/4">https://e-commercbu.herokuapp.com/orderLineItem/delete/4</a> 
      </li>
      <li>
        <a href="https://e-commercbu.herokuapp.com/orderLineItem/delete/5">https://e-commercbu.herokuapp.com/orderLineItem/delete/5</a> 
      </li>
      <li>
        <a href="https://e-commercbu.herokuapp.com/product/delete/1">https://e-commercbu.herokuapp.com/product/delete/1</a> 
      </li>
      <li>
        <a href="https://e-commercbu.herokuapp.com/product/delete/2">https://e-commercbu.herokuapp.com/product/delete/2</a> 
      </li>
      <li>
        <a href="https://e-commercbu.herokuapp.com/product/delete/3">https://e-commercbu.herokuapp.com/product/delete/3</a> 
      </li>
      <li>
        <a href="https://e-commercbu.herokuapp.com/product/delete/4">https://e-commercbu.herokuapp.com/product/delete/4</a> 
      </li>
      <li>
        <a href="https://e-commercbu.herokuapp.com/product/delete/5">https://e-commercbu.herokuapp.com/product/delete/5</a> 
      </li>

    </div>
  </div>
</div>